appdirs==1.4.4
asgiref==3.4.1
backports.zoneinfo==0.2.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.9
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.1
csvImporter==0.1.3.2
defusedxml==0.7.1
Django
django-adaptors==0.2.5
django-colorfield==0.6.3
django-csvimport==2.16
django-extra-fields==3.0.2
django-filter==21.1
django-rest-framework==0.1.0
django-templated-mail==1.1.1
djangorestframework==3.13.1
djangorestframework-simplejwt==4.8.0
djoser==2.1.0
drf-extra-fields==3.2.1
drf-pdf==0.2.0
drf-writable-nested==0.6.3
fs==2.4.14
html5lib==1.1
idna==3.3
itypes==1.2.0
Jinja2==3.0.3
json-table-schema==0.2.1
lxml==4.7.1
MarkupSafe==2.0.1
messytables==0.15.2
mypdf==1.0
oauthlib==3.1.1
Pillow==9.0.0
psycopg2
pycparser==2.21
PyJWT==2.3.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python3-openid==3.2.0
pytz==2021.3
reportlab==3.6.5
requests==2.26.0
requests-oauthlib==1.3.0
six==1.16.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
sqlparse==0.4.2
tzdata==2021.5
uritemplate==4.1.1
urllib3==1.26.7
webencodings==0.5.1
xlrd==2.0.1
gunicorn==20.0.4 
psycopg2-binary==2.8.6 

